/* adm_users.php */

div.user_list {
    width: 99%;
    margin: 2px auto;
    text-align: left;
}

div.user_list_item {
    display: inline-block;
    width: 190px;
    margin: 2px;
    padding: 2px;
    text-align: left;
    border: solid 1px #777777;
}

div.user_list_item_caption {
    float: left;
    width: 45%;
    margin-bottom: 4px;
}