/* adm_build.php, build.php */

div.room_list {
    width: 99%;
    margin: 2px auto;
    text-align: left;
}

div.room_list_item {
    font-size:90%;
    display: inline-block;
    width: 190px;
    text-align: left;
    margin: 2px;
    padding: 2px;
    border: solid 1px #777777;
}