/* alliance_players.php, msg_inbox.php, msg_sent.php */

div#pagination {
    text-align: center;
}

a.pagination_link ,span.pagination_link {
    margin: 2px 8px;
    padding: 4px;
}

a.pagination_current_link {
    margin: 2px 12px;
    border: dotted 2px white;
    font-size: 120%;
    padding: 3px 8px;
}

.characters_left {
    font-size: 85%;
    color: cyan;
}