/**
 * Div classes
 *
 * @package [Redacted]Me
 * ---------------------------------------------------------------------------
 *
 * Merchant Empires by [Redacted] Games LLC - A space merchant game of war
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

div.alliance_list {
    width: 99%;
    margin: 2px auto;
}

div.alliance_list_item {
    display: inline-block;
    width: 310px;
    margin: 2px;
    padding: 2px;
    border: solid 1px #777777;
}

div.alliance_list_item_alliance {
    float: right;
    width: 45%;
    white-space: nowrap;
}

div.alliance_list_item_caption {
    float: left;
    margin-bottom: 4px;
    width: 45%;
}

div.alliance_list_item_gold {
    float: left;
    width: 20px;
}

div.alliance_list_item_kick {
    float: right;
    width: 72px;
}

div.alliance_recruit {
    width: 85%;
    margin: 4px auto;
}

div.allied_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	border: solid 1px #00ffff;
	margin: 8px;
	padding: 2px;
	background: #000011;
}

div.attack_button {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    border: solid 3px red;
    margin: 10px;
    background-image: url(../attack_button.png);
    background-size: 180px 180px;
    cursor: pointer;
}

div.attack_buttons {
    width: 640px;
    background-color: #100;
}

div.attack_solution {
    position: absolute;
    font-size: 34px;
    top: 64px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
}

div.base {
    width: 64px;
    background: url('../base.png') no-repeat;
    background-size: 64px 64px;
}

div.base_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    margin: 2px;
}

div.base_grid_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
}

div.base_grid_item {
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1px lightgray;
    background-color: black;
}

div.base_grid_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
}

div.base_overgrid_item {
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1px white;
    background: none;
}

div.base_small_grid_item {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
}

div.battle_message {
    background-color: #330;
    width: 100%;
    border: dashed 2px #990;
    padding: 0;
    margin: 4px;
}

div.battle_message_head {
    background-color: #440;
    padding: 4px 8px;
    margin: 0;
}

div.dealer_buttons_goods {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    float: right;
    margin: 8px auto;
}

div.dealer_buttons_ships {
    position: relative;
    margin-top: 8px;
    margin-left: 110px;
}

div.dealer_goods_image {
    float: left;
    height: 32px;
    margin-top: 3px;
}

div.dealer_goods_price {
    float: left;
    height: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

div.dealer_goods_stock {
    float: left;
    height: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

div.dealer_goods_text {
    float: left;
    height: 16px;
    margin-left: 5px;
    margin-top: 9px;
    font-weight: bold;
}

div.dealer_item {
    position: relative;
    float: left;
    width: 240px;
    border: solid 2px #999999;
    background-color: #000000;
    margin: 8px;
    padding: 3px;
}

div.dealer_item_goods {
    width: 530px;
    height: 40px;
}

div.dealer_item_ships {
    width: 240px;
    height: 100px;
}

div.dealer_items {
	position: relative;
    width: 97%;
}

div.dealer_level_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../level_locked.png') repeat;
    background-size: 50%;
}

div.dealer_race_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../race_locked.png') repeat;
    background-size: 50%;
}

div.dealer_rank_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../rank_locked.png') repeat;
    background-size: 50%;
}

div.dealer_shelf {
    border: solid 1px #777777;
    background-color: #111111;
    margin: 16px 0;
    padding: 3px;
}

div.dealer_ship_icon {
    float: left;
    width: 48px;
    height: 48px;
    background: url('../unknown_ship.png') no-repeat;
    background-size: 48px 48px;
}

div.dealer_ship_level {
    position: absolute;
    top: 45px;
    width: 48px;
    font-size: 90%;
    font-style: italic;
}

div.dealer_ship_stats {
    height: 64px;
    margin-left: 60px;
}

div.dealer_ship_text {font-size: 16px;}

div.dealer_text {
    color: lightgray;
    margin: 16px 0;
}

div.docs_content {
    position: relative;
    padding: 10px;
    margin-left: 4px;
    min-width: 640px;
    float: left;
    border: solid 2px #111111;
}

div.docs_goods {
    width: 630px;
    padding: 12px;
    margin: 20px 0;
    word-wrap: break-word;
    background-color: #000000;
}

div.docs_menu {
    padding: 10px;
    min-width: 240px;
    float: left;
    border: solid 2px #111111;
    font-size: 80%;
}

div.docs_text {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    width: 630px;
    margin: 20px 0;
    word-wrap: break-word;
}

div.docs_warning {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    width: 630px;
    margin: 20px 0;
    word-wrap: break-word;
    color: #f80;
}

div.floating_message {
	display: inline-block;
	width: 80%;
	border: solid 1px #222200;
	margin: 4px 8px;
}

div.floating_message_fluff {
	top: 190px;
	width: 48%;
	margin: 0 25%;
	padding: 20px;
}

div.floating_message_nofluff {
	top: 60px;
	width: 75%;
	margin: 0 12%;
	padding: 10px;
}

div.friendly_alliance_message {
    background-color: #003;
    width: 100%;
    border: solid 1px #009;
    padding: 0;
    margin: 4px;
}

div.friendly_alliance_message_head {
    background-color: #004;
    padding: 4px 8px;
    margin: 0;
}

div.full_spread {
	position: relative;
	width: 95%;
	border: solid 2px lightgray;
	margin: 4px auto;
	padding: 20px;
	min-width: 940px;
	min-height: 256px;
	background-color: #001111;
}

div.grid_room {
    position: absolute;
    top: 1px;
    left: 1px;
}

div.header1 {font-size: 300%;}
div.header2 {font-size: 200%;}
div.header3 {font-size: 150%;}
div.header4 {font-size: 125%;}
div.header5 {font-size: 110%;}
div.header_bold {font-weight: bold;}

div.hostile_alliance_message {
    background-color: #300;
    width: 100%;
    border: solid 1px #900;
    padding: 0;
    margin: 4px;
}

div.hostile_alliance_message_head {
    background-color: #400;
    padding: 4px 8px;
    margin: 0;
}

div.hostile_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	border: solid 1px #ffff00;
	margin: 8px;
	padding: 2px;
	background: #110000;
}

div.left_column {
    width: 35%;
    float: left;
    padding-left: 8px;
}

div.left_long_column {
    width: 60%;
    float: left;
    padding-left: 8px;
}

div.login_form_item {
    width: 500px;
    margin: 20px 20px;
}

div.login_form_lower_button {
    position:inherit;
    width: 140px;
    height: 70px;
    padding-left: 100px;
}

div.login_form_upper_button {
    position: absolute;
    top: 72px;
    left: 460px;
    width: 140px;
    height: 70px;
}

div.login_intro {
    font-size: 120%;
    margin: 10px;
}

div.login_locked {
    border: solid 2px lightgray;
    background-color: #333300;
    margin: 32px 64px;
    padding: 24px;
    color: lightgray;
}

div.message {
    background-color: #333;
    width: 100%;
    border: solid 1px #999;
    padding: 0;
    margin: 4px;
}

div.message_actions {
    font-size: 80%;
    float: right;
}

div.message_head {
    background-color: #444;
    padding: 4px 8px;
    margin: 0;
}

div.message_ignored {
    width: 100%;
    border: solid 1px #888;
    background-color: #444;
    padding: 4px 8px;
    margin: 0;
}

div.message_posted {
    background-color: #000;
    width: 100%;
    font-size: 80%;
    color: green;
}

div.message_text {
    padding: 4px 8px;
    margin: 0;
    font-size: 120%;
}

div.noscript {
	border: solid 3px lightgray;
	margin: 20px;
	padding: 20px 100px;
	background-color: #311;
}

/* for scanner and movement panels */
div.ns_d {top: 172px; left: 87px;}
div.ns_dl {top: 172px; left: 2px;}
div.ns_dr {top: 172px; left: 172px;}
div.ns_l {top: 87px; left: 2px;}
div.ns_m {top: 87px; left: 87px;}
div.ns_r {top: 87px; left: 172px;}
div.ns_u {top: 2px; left: 87px;}
div.ns_ul {top: 2px; left: 2px;}
div.ns_ur {top: 2px; left: 172px;}

div.ns_arrow {
    position: absolute;
    top: 35px;
    left: 25px;
    width: 30px;
    height: 30px;
}

div.ns_arrow_d {background: url("../arrows/down.png") no-repeat;}
div.ns_arrow_dl {background: url("../arrows/down_left.png") no-repeat;}
div.ns_arrow_dr {background: url("../arrows/down_right.png") no-repeat;}
div.ns_arrow_l {background: url("../arrows/left.png") no-repeat;}
div.ns_arrow_r {background: url("../arrows/right.png") no-repeat;}
div.ns_arrow_u {background: url("../arrows/up.png") no-repeat;}
div.ns_arrow_ul {background: url("../arrows/up_left.png") no-repeat;}
div.ns_arrow_ur {background: url("../arrows/up_right.png") no-repeat;}

div.ns_force_bottom {
    position: absolute;
    top: 65px;
    left: 10px;
    width: 60px;
    height: 12px;
    background: url("../safe_scan_force.png") repeat-x;
    background-size: 12px 12px;
}

div.ns_force_left {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: url("../hostile_scan_force.png") no-repeat;
    background-size: 20px 20px;
}

div.ns_force_right {
    position: absolute;
    top: 45px;
    left: 40px;
    width: 20px;
    height: 20px;
    background: url("../safe_scan_force.png") no-repeat;
    background-size: 20px 20px;
}

div.ns_force_top {
    position: absolute;
    top: 32px;
    left: 10px;
    width: 60px;
    height: 12px;
    background: url("../hostile_scan_force.png") repeat-x;
    background-size: 12px 12px;
}

div.ns_government {
    position: absolute;
    top: 52px;
    left: 52px;
    width: 20px;
    height: 20px;
    background: url("../government_scan.png") no-repeat;
    background-size: 20px 20px;
}

div.ns_location {
    position: absolute;
    top: 40px;
    left: 4px;
    width: 32px;
    height: 32px;
    background: url("../unknown_station.png") no-repeat;
    background-size: 32px 32px;
}

div.ns_middle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 40px;
    height: 40px;
}

div.ns_planetoid {background: url("../planetoid_scan.png") no-repeat;}

div.ns_sector {
    position: absolute;
    top: 10px;
    width: 80px;
    font-size: 90%;
}

div.ns_solar {background: url("../solar_scan.png") no-repeat;}

div.ns_square {
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1px #227722;
    cursor: pointer;
}

div.ns_system {
    position: absolute;
    top: 54px;
    left: 54px;
    width: 16px;
    height: 16px;
    background: url("../system_scan.png") no-repeat;
    background-size: 16px 16px;
}

div.ns_warp {
    position: absolute;
    top: 30px;
    left: 52px;
    width: 20px;
    height: 20px;
    background: url("../warp_scan.png") no-repeat;
    background-size: 20px 20px;
}

div.official_message {
    background-color: #303;
    width: 100%;
    border: solid 2px #909;
    padding: 0;
    margin: 4px;
}

div.official_message_head {
    background-color: #404;
    padding: 4px 8px;
    margin: 0;
}

div.over_links {
    position: absolute;
    top: 600px;
    left: 785px;
    right: 0;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 4px yellow;
    background-color: navy;
}

div.place_to_locate {
    display: inline-block;
    width: 250px;
    margin: 4px 8px;
    border: solid 1px #111111;
    font-size: 90%;
}

div.places_to_locate {width: 95%;}

div.player_select {
    float: left;
    width: 150px;
    height: 300px;
    border: solid 1px #00ffff;
    padding: 10px;
    margin: 10px;
}

div.player_select_outer {
    position: relative;
    width: 800px;
    margin: 4px auto;
    height: 420px;
}

div.player_select_title {
    font-size: 400%;
    width: 400px;
    margin: 8px auto;
}

div.popup_spread {
	position: relative;
	width: 90%;
	border: solid 2px lightgray;
	margin: 4px auto;
	padding: 20px;
	min-width: 600px;
	min-height: 256px;
	background-color: #001111;
}

div.popup_text {
	position: relative;
	width: 95%;
	margin: 8px 1px;
}

div.port_buttons {
    position: relative;
    top: 0;
    left: 0;
    width: 160px;
    float: right;
    margin: 8px auto;
    font-size: 90%;
}

div.port_goods {
    display:inline-block;
    width: 550px;
    height: 40px;
    border: solid 2px #999999;
    background-color: #000000;
    margin: 8px;
    padding: 3px;
}

div.port_goods_image {
    float: left;
    height: 32px;
    margin-top: 3px;
}

div.port_goods_price {
    float: left;
    height: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

div.port_goods_stock {
    float: left;
    height: 16px;
    margin-left: 15px;
    margin-top: 11px;
    font-size: 80%;
}

div.port_goods_target {
    float: left;
    height: 16px;
    margin-left: 15px;
    margin-top: 4px;
    font-size: 80%;
}

div.port_goods_text {
    float: left;
    height: 16px;
    margin-left: 5px;
    margin-top: 10px;
}

div.port_item {
    position: relative;
    width: 99%;
    margin: 1px;
}

div.port_update_button {
    margin: 0;
    width: 150px;
    height: 24px;
    float: right;
}

div.right_column {
    margin-right: 100px;
    width: 35%;
    float: right;
    padding-right: 8px;
}

div.right_short_column {
    width: 35%;
    float: right;
    padding-right: 8px;
    white-space: nowrap;
}

div.room_list {
    width: 99%;
    margin: 2px auto;
}

div.room_list_item {
    font-size: 90%;
    display: inline-block;
    width: 190px;
    margin: 2px;
    padding: 2px;
    border: solid 1px #777777;
}

div.sector_name {
    position: relative;
    top: 0;
    width: 70%;
    margin: 3px auto;
    font-size: 150%;
    font-weight: bold;
    text-shadow: -1px 1px 2px #000,
                    1px 1px 2px #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
}

div.sector_station {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0 3px;
    border: solid 1px #115511;
    cursor: pointer;
}

div.ship_alliance {
	position: relative;
	font-size: 70%;
	width: 120px;
	margin: 0;
	padding: 0;
}

div.ship_dealer {
    background: url('../ship_dealer.png') no-repeat;
    background-size: 64px 64px;
}

div.ship_level {
	float: right;
	position: relative;
	font-size: 70%;
	margin: 0;
	padding: 0;
}

div.ship_links {
	float: right;
	position: relative;
	font-size: 70%;
	width: 70px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-decoration: underline;
	color: #ffff77;
	font-variant: small-caps;
}

div.ship_name {
	position: relative;
	font-size: 85%;
	margin: 0;
	padding: 0;
}

div.ship_player_name {
	position: relative;
	font-size: 90%;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

div.ship_type {
	position: relative;
	font-size: 70%;
	width: 120px;
	margin: 0;
	padding: 0;
}

div.sidebar_credits {font-size: 11pt;}

div.sidebar_experience {
    position: relative;
    width: 95%;
    margin: -20px auto 8px auto;
    vertical-align: top;
    font-size: 90%;
    font-style: italic;
    color: cyan;
}

div.sidebar_level {
    position: relative;
    width: 95%;
    margin: 8px auto;
}

div.sidebar_level_item {
    display: inline-block;
    margin: 0 3px;
    vertical-align: top;
}

div.sidebar_messages {
    width: 90%;
    margin: 2px auto;
    border: solid 1px cyan;
    background-color: #114455;
    cursor: pointer;
    font-size: 90%;
}

div.sidebar_name {font-size: 20pt;}
div.sidebar_race {font-size: 10pt;}

div.sidebar_ship_combat {
    border: solid 1px #ff0000;
    margin: 2px 10px;
    padding: 2px;
}

div.sidebar_ship_good_amount {
    position: absolute;
    top: 3px;
    right: 0;
    width: 15%;
    margin: 1px;
    float: right;
}

div.sidebar_ship_good_caption {
    position: absolute;
    top: 3px;
    left: 24px;
    width: 80%;
    margin: 1px;
}

div.sidebar_ship_good_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    margin: 1px 1px 4px 1px;
}

div.sidebar_ship_good_row {
    position: relative;
    width: 99%;
    height: 24px;
    margin: 2px;
}

div.sidebar_ship_goods {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 10pt;
}

div.sidebar_ship_name {font-size: 20pt;}
div.sidebar_ship_turns {font-size: 10pt;}
div.sidebar_ship_type {font-size: 10pt;}
div.sidebar_turns {font-size: 10pt;}

div.solar_collector {
    background: url('../solar_collector.png') no-repeat;
    background-size: 64px 64px;
}

div.subspace_message {
    background-color: #033;
    width: 100%;
    border: solid 1px #099;
    padding: 0;
    margin: 4px;
}

div.subspace_message_head {
    background-color: #044;
    padding: 4px 8px;
    margin: 0;
}

div.takeoff {
    position: absolute;
    top: 45px;
    left: 0;
    width: 80px;
    height: 40px;
    font-size: 70%;
    color: cyan;
}

div.taking_damage {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 128px;
	border: dotted 6px #ff0000;
	margin-left: -74px;
	background: #330000;
	font-weight: bold;
	font-size: 110%;
}

div.tech_dealer {
    background: url('../tech_dealer.png') no-repeat;
    background-size: 64px 64px;
}

div.trade_port {
    width: 96px;
    background: url('../port.png') no-repeat;
    background-size: 96px 64px;
}

div.under_construction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../construction.png);
}

div.user_list {
    width: 99%;
    margin: 2px auto;
}

div.user_list_item {
    display: inline-block;
    width: 190px;
    margin: 2px;
    padding: 2px;
    border: solid 1px #777777;
}

div.user_list_item_caption {
    float: left;
    width: 45%;
    margin-bottom: 4px;
}

div.viewport_big_planetoid {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 512px;
    height: 512px;
    margin: 0 auto;
}

div.viewport_big_star {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
}

div.viewport_big_warp {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 768px;
    height: 768px;
    margin: 0 auto;
}

div.viewport_console {
	position: relative;
	top: 0;
	left: 0;
	width: 300px;
	margin: 0 auto;
	padding: 0;
	background: url('../black_dither.png') repeat;
}

div.viewport_console_item {
	display: inline-block;
	width: 64px;
	height: 32px;
	margin: 8px 0 0 0;
	padding: 6px 0;
	background: url('../console_back.png') no-repeat;
	cursor: pointer;
}

div.viewport_dss {
	position: relative;
	top: 8px;
	left: 0;
	width: 192px;
	height: 96px;
	margin: 0 auto;
	overflow: hidden;
	background-color: black;
}

div.viewport_dss_background {
	width: 192px;
	height: 96px;
	background: url('../galaxy.png') no-repeat;
	background-size: 720px 720px;
}

div.viewport_hostile_ships {
	position: relative;
	display: inline-block;
	width: 47%;
	border: solid 2px #882200;
	background-color: black;
	vertical-align: top;
}

div.viewport_hostile_ships_head {
	font-size: 12pt;
	color: lightgray;
	background-color: #330000;
	padding: 10px;
	font-weight: bold;
}

div.viewport_player_info {
	width: 200px;
	background-color: black;
	border: solid 1px #001155;
	overflow: hidden;
}

div.viewport_safe_ships {
	position: relative;
	display: inline-block;
	width: 47%;
	border: solid 2px #002288;
	background-color: black;
	vertical-align: top;
}

div.viewport_safe_ships_head {
	font-size: 12pt;
	color: lightgray;
	background-color: #000033;
	padding: 10px;
	font-weight: bold;
}

div.viewport_ships {
	position: relative;
	width: 100%;
	min-width: 580px;
	vertical-align: top;
}

div.viewport_ship_info {
	width: 200px;
	border: solid 1px #551100;
	background-color: black;
	overflow: hidden;
}

div.viewport_split {
	position: relative;
	width: 100%;
}

div.warp {
    width: 64px;
    background: url('../warp_wireframe.png') no-repeat;
    background-size: 64px 64px;
}