/* Main generic classes */

.align_right {text-align: right;}

.bigger {font-size: larger;}

.bottom {vertical-align: bottom;}

.captionHeader {
    width: 250px;
    text-align: left;
    padding-left: 20px;
}

.characters_left {
    font-size: 85%;
    color: cyan;
}

.clear {clear: both;}

.float_right {float: right;}

.good {
    display: flex;
    flex-flow: column wrap;
}

.goodCaption {
    width: 200px; 
    float: left; 
    padding-left: 35px;
}

.goodContainer1 {height: 500px;}
.goodContainer2 {height: 125px;}

.goodLevel {
    width: 20px; 
    float: left; 
    text-align: right;
}

.lvlHeader {
    width: 20px;
    text-align: left;
}

.margin {margin: 10px;}

.move_scan_text {
    font-size: 150%;
    text-align: center;
    width: 34px;
}

.news {
    width: 100%;
    margin: 10px;
    padding: 26px;
    color: black;
    border: solid 2px white;
    background-color: #b09070;
}

.news_abstract {
    margin: 0 20px;
    font-size: 120%;
}

.news_article {
    font-family: serif;
    visibility: hidden;
    display: none;
    font-size: 110%;
}

.news_author0 {background-color: #bbbb66;}
.news_author-1 {background-color: #60dd60;}
.news_author-2 {background-color: #ff4444;}

.news_date {
    width: 240px;
    padding: 3px 6px 3px 0;
    border: solid 1px black;
    font-size: 75%;
    float: right;
    text-align: right;
}

.news_headline {
    font-size: 150%;
    font-weight: bold;
}

.news_readme {
    margin: 12px 4px;
    text-decoration: underline;
    font-style: italic;
    color: #004400;
    font-size: 90%;
    font-variant: small-caps;
    font-family: sans-serif;
    cursor: pointer;
}

.normal {
	font-variant: normal;
	font-weight: normal;
}

.o9 {opacity: 0.9;}

.pagination_link {
    margin: 2px 8px;
    padding: 4px;
}

.pointer {cursor: pointer;}