table.levels {
    width: 100%;
}

td.experience {
    margin: 0 0 0 1px;
    background-color: #222222;
    text-align:right;
    padding: 4px;
}

td.level {
    margin: 0 0 0 4px;
    background-color: #002200;
    text-align: right;
    padding: 4px;
    font-weight: bold;
    width: 30px;
}

tr.levels {
    margin: 4px 0;
    background-color: #000000;
    padding: 1px;
}