/* Main generic classes */

.align_right {text-align: right;}

.bigger {font-size: larger;}

.bottom {vertical-align: bottom;}

.clear {clear: both;}

.float_right {float: right;}

.margin {margin: 10px;}

.normal {
	font-variant: normal;
	font-weight: normal;
}

.o9 {opacity: 0.9;}