/* Main div classes */

div.allied_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	border: solid 1px #00ffff;
	margin: 8px;
	padding: 2px;
	background: #000011;
}

div.dealer_buttons_goods {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    float: right;
    margin: 8px auto;
}

div.dealer_buttons_ships {
    position: relative;
    margin-top: 8px;
    margin-left: 110px;
}

div.dealer_item {
    position: relative;
    float: left;
    width: 240px;
    border: solid 2px #999999;
    background-color: #000000;
    margin: 8px;
    padding: 3px;
}

div.dealer_item_goods {
    width: 530px;
    height: 40px;
}

div.dealer_item_ships {
    width: 240px;
    height: 100px;
}

div.dealer_items {
	position: relative;
    width: 97%;
}

div.floating_message {
	display: inline-block;
	width: 80%;
	border: solid 1px #222200;
	margin: 4px 8px;
}

div.floating_message_fluff {
	top: 190px;
	width: 48%;
	margin: 0 25%;
	padding: 20px;
}

div.floating_message_nofluff {
	top: 60px;
	width: 75%;
	margin: 0 12%;
	padding: 10px;
}

div.full_spread {
	position: relative;
	width: 95%;
	border: solid 2px white;
	margin: 4px auto;
	padding: 20px;
	min-width: 940px;
	min-height: 256px;
	background-color: #001111;
}

div.hostile_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	border: solid 1px #ffff00;
	margin: 8px;
	padding: 2px;
	background: #110000;
}

div.noscript {
	border: solid 3px #ffffff;
	margin: 20px;
	padding: 20px 100px;
	background-color: #311;
}

/* for scanner and movement panels */
div.ns_d {top: 172px; left: 87px;}
div.ns_dl {top: 172px; left: 2px;}
div.ns_dr {top: 172px; left: 172px;}
div.ns_l {top: 87px; left: 2px;}
div.ns_m {top: 87px; left: 87px;}
div.ns_r {top: 87px; left: 172px;}
div.ns_u {top: 2px; left: 87px;}
div.ns_ul {top: 2px; left: 2px;}
div.ns_ur {top: 2px; left: 172px;}

div.popup_spread {
	position: relative;
	width: 90%;
	border: solid 2px white;
	margin: 4px auto;
	padding: 20px;
	min-width: 600px;
	min-height: 256px;
	background-color: #001111;
}

div.popup_text {
	position: relative;
	width: 95%;
	margin: 8px 1px;
}

div.ship_alliance {
	text-align: left;
	position: relative;
	font-size: 70%;
	width: 120px;
	margin: 0;
	padding: 0;
}

div.ship_level {
	float: right;
	text-align: right;
	position: relative;
	font-size: 70%;
	margin: 0;
	padding: 0;
}

div.ship_links {
	float: right;
	text-align: right;
	position: relative;
	font-size: 70%;
	width: 70px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-decoration: underline;
	color: #ffff77;
	font-variant: small-caps;
}

div.ship_name {
	text-align: center;
	position: relative;
	font-size: 85%;
	margin: 0;
	padding: 0;
}

div.ship_player_name {
	text-align: center;
	position: relative;
	font-size: 90%;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

div.ship_type {
	text-align: left;
	position: relative;
	font-size: 70%;
	width: 120px;
	margin: 0;
	padding: 0;
}

div.taking_damage {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 128px;
	border: dotted 6px #ff0000;
	margin-left: -74px;
	background: #330000;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

div.viewport_console {
	position: relative;
	top: 0;
	left: 0;
	width: 300px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background: url('../black_dither.png') repeat;
}

div.viewport_console_item {
	display: inline-block;
	width: 64px;
	height: 32px;
	margin: 8px 0 0 0;
	padding: 6px 0;
	background: url('../console_back.png') no-repeat;
	text-align: center;
	cursor: pointer;
}

div.viewport_dss {
	position: relative;
	top: 8px;
	left: 0;
	width: 192px;
	height: 96px;
	margin: 0 auto;
	overflow: hidden;
	background-color: black;
}

div.viewport_dss_background {
	width: 192px;
	height: 96px;
	background: url('../galaxy.png') no-repeat;
	background-size: 720px 720px;
}

div.viewport_hostile_ships {
	position: relative;
	display: inline-block;
	width: 47%;
	border: solid 2px #882200;
	background-color: black;
	vertical-align: top
}

div.viewport_hostile_ships_head {
	font-size: 12pt;
	color: white;
	background-color: #330000;
	text-align: left;
	padding: 10px;
	font-weight: bold;
}

div.viewport_player_info {
	width: 200px;
	background-color: black;
	border: solid 1px #001155;
	overflow: hidden;
	text-align: center;
}

div.viewport_safe_ships {
	position: relative;
	display: inline-block;
	width: 47%;
	border: solid 2px #002288;
	background-color: black;
	vertical-align: top
}

div.viewport_safe_ships_head {
	font-size: 12pt;
	color: white;
	background-color: #000033;
	text-align: left;
	padding: 10px;
	font-weight: bold;
}

div.viewport_ships {
	position: relative;
	width: 100%;
	min-width: 580px;
	text-align: center;
	vertical-align: top;
}

div.viewport_ship_info {
	width: 200px;
	border: solid 1px #551100;
	background-color: black;
	overflow: hidden;
	text-align: center;
}

div.viewport_split {
	position: relative;
	text-align: center;
	width: 100%;
}