/* dealer.php */

div.dealer_goods_image {
    float: left;
    height: 32px;
    margin-top: 3px;
}

div.dealer_goods_price {
    float: left;
    height: 16px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

div.dealer_goods_stock {
    float: left;
    height: 16px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

div.dealer_goods_text {
    float: left;
    height: 16px;
    text-align: center;
    margin-left: 5px;
    margin-top: 9px;
    font-weight: bold;
}

div.dealer_item {
    position: relative;
    float: left;
    width: 240px;
    border: solid 2px #999999;
    background-color: #000000;
    margin: 8px;
    padding: 3px;
}

div.dealer_items {
    position: relative;
    width: 97%;
}

div.dealer_level_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../level_locked.png') repeat;
    background-size: 50%;
}

div.dealer_shelf {
    border: solid 1px #777777;
    background-color: #111111;
    margin: 16px 0;
    padding: 3px;
}

div.dealer_ship_icon {
    float: left;
    width: 48px;
    height: 48px;
    background: url('../unknown_ship.png') no-repeat;
    background-size: 48px 48px;
}

div.dealer_ship_level {
    position: absolute;
    top: 45px;
    width: 48px;
    text-align: center;
    font-size: 90%;
    font-style: italic;
}

div.dealer_ship_stats {
    height: 64px;
    margin-left: 60px;
}

div.dealer_ship_text {
    font-size: 16px;
}

div.dealer_race_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../race_locked.png') repeat;
    background-size: 50%;
}

div.dealer_rank_locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../rank_locked.png') repeat;
    background-size: 50%;
}

div.dealer_text {
    color: white;
    margin: 16px 0;
}

input.dealer_form_button {
    position: absolute;
    top: 0;
    left: 60px;
}

input.dealer_form_text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}