/* docs.php */

div.docs_menu {
    padding: 10px;
    min-width: 240px;
    float: left;
    border: solid 2px #111111;
    font-size: 80%;
}

ul.docs_menu {
    margin: 8px;
    padding: 0px;
}

/*
li.docs_menu {}
*/

div.docs_content {
    position: relative;
    padding: 10px;
    margin-left: 4px;
    min-width: 640px;
    float: left;
    border: solid 2px #111111;
}

div.docs_text {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    width: 630px;
    margin: 20px 0px;
    word-wrap: break-word;
}

div.docs_warning {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    width: 630px;
    margin: 20px 0px;
    word-wrap: break-word;
    color: #f80;
}

div.docs_goods {
    width: 630px;
    margin: 20px 0px;
    word-wrap: break-word;
    background-color: #000000;
    padding: 12px;
    text-align: center;
}

div.header1 {
    font-size: 300%;
    font-weight: bold;
}

div.header2 {
    font-size: 200%;
    font-weight: bold;
}

div.header3 {
    font-size: 150%;
    font-weight: bold;
}

div.header4 {
    font-size: 125%;
    font-weight: bold;
}

div.header5 {
    font-size: 110%;
    font-weight: bold;
}