/* gold.php */

table.gold_key {border: none;}

td.gold_actions {
    padding: 2px 8px;
    text-align: center;
}

td.gold_key {
    padding: 2px 8px;
    width: 400px;
    font-size: 110%;
    font-weight: bold;
    color: #2c6;
}

td.gold_time {
    padding: 2px 8px;
    font-size: 110%;
}

th.gold_key {
    padding: 6px 12px;
    font-size: 120%;
    font-weight: bold;
    background-color: #333;
}

tr.gold_key {border: solid 1px #888;}