/* html_begin.php */

header {
	background: url("../head_piece.png") repeat-x;
	height: 96px;
	font-size: 120%;
	font-weight: bold;
	padding: 2px;
}

div#game_menu {
	position: absolute;
	top: 64px;
	left: 32px;
	width: 640px;
}

div#page_build {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 192px;
	background: url('../teal_dither.png') repeat;
	border: solid 1px darkgray;
}

span#game_logo {
	position: absolute;
	top: 10px;
	left: 22px;
	width: 600px;
}

span#game_title {
	position: absolute;
	top: 18px;
	left: 340px;
	width: 600px;
}