/* Main id */

div#floating_message_box {
	position: absolute;
	left: 0;
	background-color: #111100;
	border: dotted 5px #444411;
	text-align: center;
	font-size: 110%;
}

div#main_popup {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('../teal_dither.png') repeat;
}

div#pagination {text-align: center;}

/* to keep footer at bottom of page, header and body reside in this wrapper */
div#wrapper {min-height: calc(100vh - 65px);}  /* 65px is height of footer */

iframe#main_iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 72%;
	height: 76%;  /* maintain at 76% to prevent vertical scroll for webkit on main pages of 14" screen & above */
	margin: 5% 13%;
	padding: 10px;
	background: #000011;
}

input#floating_message_close {
	width: 128px;
	margin: 8px 35%;
}