/* login.php */

div.login_locked {
    border: solid 2px white;
    background-color: #333300;
    margin: 32px 64px;
    padding: 24px;
    color: white;
}

div#login_form_box {
    position: relative;
    width: 720px;
    margin: 20px auto;
    border: solid 2px #555511;
}

div.login_form_item {
    text-align: center;
    width: 500px;
    margin: 20px 20px;
}

div.login_form_label {
    text-align: right;
}

div.login_form_upper_button {
    position: absolute;
    top: 72px;
    left: 460px;
    width: 140px;
    height: 70px;
}

div.login_form_lower_button {
    padding-left: 100px;
    position:inherit;
    width: 140px;
    height: 70px;
}

div.login_intro {
    font-size: 120%;
    margin: 10px;
}

div.left_column {
    width: 35%;
    float: left;
    text-align: right;
    padding-left: 8px;
}

div.right_column {
    margin-right: 100px;
    width: 35%;
    float: right;
    text-align: left;
    padding-right: 8px;
}

div.left_long_column {
    width: 60%;
    float: left;
    text-align: left;
    padding-left: 8px;
}

div.right_short_column {
    width: 35%;
    float: right;
    text-align: right;
    padding-right: 8px;
    white-space: nowrap;
}