/* Main */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12pt;
	background-color: #05050a;
	color: lightgray;
}

a {
	color: #ffff77;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 110%;
}

a.game_menu {
	color: #FFFF00;
	font-size: 80%;
	text-shadow: 1px 1px #000000;
}

input.form_button {
	position: relative;
	height: 24px;
	vertical-align: bottom;
}

input.form_input {
	background-color: black;
	color: lightgray;
}

li.popup_list {
	display: inline-block;
	border: solid 1px #cccccc;
	padding: 3px 16px;
	margin: 4px;
	white-space: nowrap;
}

pre {font-family: CascadiaMono, monospace;}
pre.dump {
	background-color: white;
	color: black;
	margin: 10px;
	padding: 10px;
	border: solid 2px gray;
	text-align: left;
}

ul.popup_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}