/* Main */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12pt;
	background-color: #05050a;
	color: lightgray;
}

a {
	color: #ffff77;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 110%;
}

a.game_menu {
	color: #FFFF00;
	font-size: 80%;
	text-shadow: 1px 1px #000000;
}

a.pagination_current_link {
    margin: 2px 12px;
    border: dotted 2px lightgray;
    font-size: 120%;
    padding: 3px 8px;
}

img.alliance_list_recruit_image {
    float: right;
    width: 20px;
    height: 20px;
}

input.dealer_form_button {
    position: absolute;
    top: 0;
    left: 60px;
}

input.dealer_form_text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: lightgray;
}

input.form_button {
	position: relative;
	height: 24px;
	vertical-align: bottom;
}

input.form_input {
	background-color: black;
	color: lightgray;
}

input.port_form_button {
    position: absolute;
    top: 0;
    left: 60px;
}

input.port_form_input {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: lightgray;
}

input.select_player_name {width: 140px;}

li.popup_list {
	display: inline-block;
	border: solid 1px #cccccc;
	padding: 3px 16px;
	margin: 4px;
	white-space: nowrap;
}

pre {font-family: CascadiaMono, monospace;}

pre.dump {
	background-color: lightgray;
	color: black;
	margin: 10px;
	padding: 10px;
	border: solid 2px gray;
}

table.gold_key {border: none;}

table.levels {width: 100%;}

td.experience {
    margin: 0 0 0 1px;
    background-color: #222222;
    padding: 4px;
}

td.gold_key {
    width: 400px;
    font-size: 110%;
    font-weight: bold;
    color: #2c6;
}

td.gold_padding {padding: 2px 8px;}

td.gold_time {font-size: 110%;}

th.gold_key {
    padding: 6px 12px;
    font-size: 120%;
    font-weight: bold;
    background-color: #333;
}

td.level {
    margin: 0 0 0 4px;
    background-color: #002200;
    padding: 4px;
    font-weight: bold;
    width: 30px;
}

tr.gold_key {border: solid 1px #888;}

tr.levels {
    margin: 4px 0;
    background-color: #000000;
    padding: 1px;
}

ul.docs_menu {
    padding: 0;
    margin: 8px;
}

ul.popup_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}