/* ship.php */

form.solution {display: inline-block;}

div.attack_button {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    border: solid 3px red;
    margin: 10px;
    background-image: url(../attack_button.png);
    background-size: 180px 180px;
    cursor: pointer;
}

div.attack_buttons {
    width: 640px;
    text-align: center;
    background-color: #100;
}

div.attack_solution {
    position: absolute;
    font-size: 34px;
    top: 64px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
}

input.ship_form_input {
    background-color: black;
    color: white;
}

table.add_weapon {
    display: inline-block;
    border-collapse: collapse;
    border: solid 1px #777;
}

table.ship_info {width: 100%;}

table.solution {
    width: 100%;
    margin: 16px;
}

td.add_weapon {
    padding: 4px 8px;
    white-space: nowrap;
}

td.add_weapon_center {
    padding: 4px 8px;
    text-align:center;
    white-space: nowrap;
}

td.add_weapon_right {
    padding: 4px 8px;
    text-align:right;
    white-space: nowrap;
}

td.ship_info_key {
    width: 30px;
    margin: 0 0 0 4px;
    padding: 4px;
    background-color: #002200;
    text-align: left;
}

td.ship_info_value {
    width: 30px;
    margin: 0 0 0 4px;
    padding: 4px;
    background-color: #002222;
    text-align: left;
    font-weight: bold;
}

td.solution {
    width: 30px;
    margin: 0 0 0 4px;
    padding: 4px;
    background-color: #002222;
    text-align: center;
    font-size: 90%;
    white-space: nowrap;
}

th.solution {
    width: 30px;
    margin: 0 0 0 4px;
    padding: 4px;
    background-color: #002200;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

tr.add_weapon_row {border-bottom: solid 1px #777;}

tr.ship_info {
    margin: 4px 0;
    padding: 1px;
    background-color: #000000;
}

tr.solution {
    margin: 4px 0;
    padding: 1px;
    background-color: #000000;
}

span.no_race_war {color: cyan;}

span.race_war {color: orange;}

svg.attack_recharge {
    position: absolute;
    top: 132px;
    left: 36px;
}