/**
 * Stylesheet package for Merchant Empires by [Redacted] Games LLC
 *
 * @package [Redacted]Me
 * ---------------------------------------------------------------------------
 *
 * Merchant Empires by [Redacted] Games LLC - A space merchant game of war
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
	font-family: sans-serif;
	font-size: 12pt;
	background-color: #05050a;
	margin: 0px;
	padding: 0px;
	color: white;
}

a {
	color: #ffff77;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 110%;
}

.normal {
	font-variant: normal;
	font-weight: normal;
}

.normal_bold {
	font-variant: normal;
	font-weight: bold;
}

input.form_button {
	position: relative;
	height: 24px;
	vertical-align: bottom;
}


div#page_build {
	position: absolute;
	width: 192px;
	text-align: center;
	background: url('teal_dither.png') repeat;
	border: solid 1px #ffffff;
	top: 8px;
	right: 8px;
}

.bottom {
	vertical-align: bottom;
}

div#game_logo {
	position: absolute;
	top: 16px;
	left: 32px;
	width: 600px;
	text-align: left;
}

div#game_title {
	position: absolute;
	top: 24px;
	left: 350px;
	width: 600px;
	text-align: left;
}

div#game_menu {
	position: absolute;
	top: 64px;
	left: 32px;
	width: 640px;
	text-align: left;
}

a.game_menu {
	color: #555511;
	font-size: 80%;
	text-shadow: 1px 1px #000000;
}

div#first_header {
	background: url("head_piece.png") repeat-x;
	height: 96px;
	width: 100%;
	font-size: 120%;
	font-weight: bold;
	padding: 2px;
}


div#final_footer {
	background-color: #110011;
	width: 100%;
	font-size: 80%;
	padding: 2px;
}


div.left_column {
	width: 44%;
	float: left;
	text-align: left;
	padding-left: 8px;
}

div.right_column {
	width: 44%;
	float: right;
	text-align: right;
	padding-right: 8px;
}

div.viewport_split {
	position: relative;
	width: 99%;
	margin: 4px auto;
	text-align: center;
}

div.viewport_split_panel {
	display: inline-block;
	float: left;
	position: relative;
	margin: 2px;
	width: 49%;
}

div.taking_damage {
	position: absolute;
	left: 50%;
	margin-left: -74px;
	top: 10px;
	width: 128px;
	border: dotted 6px #ff0000;
	background: #330000;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

div.viewport_ship_info {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	background-color: black;
	border: solid 1px #551100;
	overflow: hidden;
	text-align: center;
}

div.viewport_hostile_ships {
	position: absolute;
	top: 0px;
	left: 210px;
	right: 0px;
	border: solid 2px #882200;
	background-color: black;
}

div.viewport_hostile_ships_head {
	font-size: 12pt;
	color: white;
	background-color: #330000;
	text-align: left;
	padding: 10px;
	font-weight: bold;
}

div.viewport_player_info {
	position: absolute;
	right: 0px;
	width: 200px;
	background-color: black;
	border: solid 1px #001155;
	overflow: hidden;
	text-align: center;
}

div.viewport_safe_ships {
	position: absolute;
	right: 210px;
	left: 0px;
	background-color: black;
	border: solid 2px #002288;
}

div.viewport_safe_ships_head {
	font-size: 12pt;
	color: white;
	background-color: #000033;
	text-align: left;
	padding: 10px;
	font-weight: bold;
}

div.ship_level {
	float: right;
	text-align:right;
	position: relative;
	font-size: 70%;
	margin: 0px;
	padding: 0px;
}

div.ship_alliance {
	text-align:left;
	position: relative;
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

div.ship_links {
	float: right;
	text-align:right;
	position: relative;
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	width: 70px;
}

div.ship_type {
	text-align:left;
	position: relative;
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

div.ship_name {
	text-align:center;
	position: relative;
	font-size: 85%;
	margin: 0px;
	padding: 0px;
}

div.ship_player_name {
	text-align:center;
	position: relative;
	font-size: 90%;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}


div.hostile_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	background: #110000;
	border: solid 1px #ffff00;
	margin: 8px;
	padding: 2px;
}

div.allied_ship {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 64px;
	background: #000011;
	border: solid 1px #00ffff;
	margin: 8px;
	padding: 2px;
}


div.viewport_console {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px auto;
	width: 300px;
	text-align: center;
	background: url('black_dither.png') repeat;
	padding: 0px;
}

div.viewport_console_item {
	display: inline-block;
	width: 64px;
	height: 32px;
	background: url('console_back.png') no-repeat;
	text-align: center;
	padding: 6px 0px;
	margin: 8px 0px 0px 0px;
}

div.viewport_dss {
	position: relative;
	top: 8px;
	left: 0px;
	margin: 0px auto;
	width: 192px;
	height: 96px;
	overflow: hidden;
}

div.viewport_dss_background {
	background: url('galaxy.png') no-repeat;
	width: 192px;
	height: 96px;
	background-size: 720px 720px;
}

.o9 { opacity: 0.9; }
.o8 { opacity: 0.8; }
.o7 { opacity: 0.7; }
.o6 { opacity: 0.6; }
.o5 { opacity: 0.5; }
.o4 { opacity: 0.4; }
.o3 { opacity: 0.3; }
.o2 { opacity: 0.2; }
.o1 { opacity: 0.1; }

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear {
	clear: both;
}

.margin {
	margin: 10px;
}

div.center_spread {
	position: relative;
	width: 99%;
}

div.center_spread_middle {
	position: relative;
	margin: 0px 210px;
	padding:10px;
	min-height: 420px;
}

div.full_spread {
	position: relative;
	width: 95%;
	padding: 20px;
	margin: 4px auto;
	min-width: 940px;
	min-height: 256px;
	border: solid 2px white;
	background-color: #001111;
}


div#main_popup {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: url('teal_dither.png') repeat;
}

div.popup_text {
	position: relative;
	width: 95%;
	margin: 8px 1px;
}

div.popup_spread {
	position: relative;
	width: 90%;
	padding: 20px;
	margin: 4px auto;
	min-width: 600px;
	min-height: 256px;
	border: solid 2px white;
	background-color: #001111;
}


ul.popup_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

li.popup_list {
	display: inline;
	border: solid 1px #cccccc;
	padding: 3px;
	margin: 4px;
	width: 128px;
}

iframe#main_iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 72%;
	height: 82%;
	margin: 5% 13%;
	padding: 10px;
	background: #000011;
}


div#floating_message_box {
	position: absolute;
	left: 0px;
	background-color: #111100;
	border: dotted 5px #444411;
	text-align: center;
	font-size: 110%;
}

div.floating_message_fluff {
	top: 190px;
	width: 48%;
	margin: 0 25%;
	padding: 20px;
}

div.floating_message_nofluff {
	top: 60px;
	width: 75%;
	margin: 0 12%;
	padding: 10px;
}

div.floating_message {
	display: inline-block;
	width: 420px;
	margin: 4px 8px;
	border: solid 1px #222200;
}

input#floating_message_close {
	width: 128px;
	margin: 8px 35%;
}


/* locate.php */

div.places_to_locate {
	width: 95%;
	text-align: center;
}

div.place_to_locate {
	display: inline-block;
	width: 250px;
	border: solid 1px #111111;
	margin: 4px 8px;
	text-align: center;
	font-size: 90%;
}





/* viewport.php */

div#viewport_main_spread {
	position: relative;
	background-color: #000011;
	background: url("starfield_ugly.png") repeat;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	margin-bottom: 6px;
	border: solid 2px #9cbead;
	min-width: 1024px;
	overflow:hidden;
}

div.viewport_big_planetoid {
	position: absolute;
	width: 512px;
	height: 512px;
	top: 100px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}

div.viewport_big_star {
	position: absolute;
	width: 100vw;
	height: 100vw;
	top: 20px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}


div#viewport_header {
	padding: 1px;
	word-wrap: break-word;
	margin-left: 304px;
	margin-right: 304px;
}

div#viewport_header_left {
	float: left;
	width: 100%;
	margin-right: -1px;
}

div#hud_controls {
	position: relative;
	float:right;
	width: 99%;
	height: 256px;
	margin-left: -1px;
	margin-right: 2px;
	
}

div.sector_name {
	position:relative;
	top: 0px;
	width: 90%;
	margin: 3px auto;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

.move_scan_text {
	font-size: 150%;
	text-align: center;
	width: 34px;
}

div#nav_control_outer {
	float: left;
	position: relative;
	margin-left: -291px;
	margin-right: 2px;
	background-color: #551100;
	width: 290px;
	height: 256px;
}

div#nav_controls {
	position: relative;
	width: 256px;
	height: 256px;
	border: solid 1px #007700;
	background: url("navigation.png") no-repeat;
}

div#scan_control_outer {
	float: right;
	position: relative;
	margin-right: -291px;
	margin-left: 2px;
	background-color: #551100;
	width: 290px;
}

div#scan_controls {
	position: relative;
	width: 256px;
	height: 256px;
	border: solid 1px #007700;
	background: url("radar.gif") no-repeat;
}

div#disabled_scan_controls {
	position: relative;
	width: 256px;
	height: 256px;
	border: solid 1px #007700;
	background: url("no_radar.png") no-repeat;
}


div.ns_square {
	position: absolute;
	width: 80px;
	height: 80px;
	border: solid 1px #227722;
	cursor: pointer;
}

div.pointer {
	cursor: pointer;
}

div.takeoff {
	text-align: center;
	position: absolute;
	width: 80px;
	height: 40px;
	top: 45px;
	left: 0px;
	font-size: 70%;
	color: cyan;
}

div.ns_ul { top: 2px; left: 2px; }
div.ns_u { top: 2px; left: 87px; }
div.ns_ur { top: 2px; left: 172px;  }
div.ns_l { top: 87px; left: 2px; }
div.ns_m { top: 87px; left: 87px; }
div.ns_r { top: 87px; left: 172px;  }
div.ns_dl { top: 172px; left: 2px; }
div.ns_d { top: 172px; left: 87px; }
div.ns_dr { top: 172px; left: 172px;  }

div.ns_sector {
	position: absolute;
	top: 10px;
	width: 80px;
	font-size: 90%;
	text-align: center;
	
}

div.ns_middle {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 40px;
	height: 40px;
}

div.ns_planetoid {
	background: url("planetoid_scan.png") no-repeat;
}

div.ns_solar {
	background: url("solar_scan.png") no-repeat;
}

div.ns_force_top {
	position: absolute;
	top: 32px;
	left: 10px;
	width: 60px;
	height: 12px;
	background: url("hostile_scan_force.png") repeat-x;
    background-size: 12px 12px;
}

div.ns_force_bottom {
	position: absolute;
	top: 65px;
	left: 10px;
	width: 60px;
	height: 12px;
	background: url("safe_scan_force.png") repeat-x;
    background-size: 12px 12px;
}

div.ns_force_left {
	position: absolute;
	top: 45px;
	left: 20px;
	width: 20px;
	height: 20px;
	background: url("hostile_scan_force.png") no-repeat;
    background-size: 20px 20px;
}

div.ns_force_right {
	position: absolute;
	top: 45px;
	left: 40px;
	width: 20px;
	height: 20px;
	background: url("safe_scan_force.png") no-repeat;
    background-size: 20px 20px;
}

div.ns_government {
	position: absolute;
	top: 52px;
	left: 52px;
	width: 20px;
	height: 20px;
	background: url("government_scan.png") no-repeat;
	background-size: 20px 20px;
}

div.ns_system {
	position: absolute;
	top: 54px;
	left: 54px;
	width: 16px;
	height: 16px;
	background: url("system_scan.png") no-repeat;
	background-size: 16px 16px;
}

div.ns_warp {
	position: absolute;
	top: 30px;
	left: 52px;
	width: 20px;
	height: 20px;
	background: url("warp.png") no-repeat;
	background-size: 20px 20px;
}

div.ns_location {
	position: absolute;
	top: 40px;
	left: 4px;
	width: 32px;
	height: 32px;
	background: url("unknown_station.png") no-repeat;
	background-size: 32px 32px;
}

div.ns_arrow {
	position: absolute;
	top: 35px;
	left: 25px;
	width: 30px;
	height: 30px;
}

div.ns_arrow_ul {
	background: url("arrows/up_left.png") no-repeat;
}

div.ns_arrow_u {
	background: url("arrows/up.png") no-repeat;
}

div.ns_arrow_ur {
	background: url("arrows/up_right.png") no-repeat;
}

div.ns_arrow_l {
	background: url("arrows/left.png") no-repeat;
}

div.ns_arrow_r {
	background: url("arrows/right.png") no-repeat;
}

div.ns_arrow_dl {
	background: url("arrows/down_left.png") no-repeat;
}

div.ns_arrow_d {
	background: url("arrows/down.png") no-repeat;
}

div.ns_arrow_dr {
	background: url("arrows/down_right.png") no-repeat;
}

div#sector_stations {
	position: relative;
	width: 80%;
	margin: 8px auto;
	border: solid 1px #555511;
	padding: 8px;
	text-align: center;
}

div.sector_station {
	width: 64px;
	height: 64px;
	display: inline-block;
	border: solid 1px #115511;
	margin: 0px 3px;
	cursor: pointer;
}

div.unknown_station {
	background: url('unknown_station.png') no-repeat;
	background-size: 64px 64px;
}

div.port {
	background: url('port.png') no-repeat;
	background-size: 96px 64px;
	width: 96px;
}

div.warp {
	background: url('warp.png') no-repeat;
	background-size: 64px 64px;
	width: 64px;
}

div.base {
	background: url('base.png') no-repeat;
	background-size: 64px 64px;
	width: 64px;
}

div.ship_dealer {
	background: url('ship_dealer.png') no-repeat;
	background-size: 64px 64px;
}

div.tech_dealer {
	background: url('tech_dealer.png') no-repeat;
	background-size: 64px 64px;
}


div.solar_collector {
	background: url('solar_collector.png') no-repeat;
	background-size: 64px 64px;
}

/* login.php */

div#login_form_box {
	position: relative;
	width: 640px;
	margin: 20px auto;
	border: solid 2px #555511;
}

div.login_form_item {
	width: 320px;
	margin: 20px 20px;
}

div.login_form_label {
	text-align: right;
}

div.login_form_upper_button {
	position: absolute;
	top: 72px;
	left: 420px;
	width: 140px;
	height: 70px;
}

div.login_form_lower_button {
	position: absolute;
	top: 300px;
	left: 420px;
	width: 140px;
	height: 70px;
}

div.login_intro {
	font-size: 120%;
	margin: 10px;
}


/* docs.php */

div.docs_menu {
	padding: 10px;
	min-width: 240px;
	float: left;
	border: solid 2px #111111;
	font-size: 80%;
}

ul.docs_menu {
	margin: 8px;
	padding: 0px;
}

li.docs_menu {
}

div.docs_content {
	position: relative;
	padding: 10px;
	margin-left: 4px;
	min-width: 640px;
	float: left;
	border: solid 2px #111111;
}

div.docs_text {
	width: 630px;
	margin: 20px 0px;
	word-wrap: break-word;
}

div.docs_warning {
	width: 630px;
	margin: 20px 0px;
	word-wrap: break-word;
	color: #f80;
}

div.docs_goods {
	width: 630px;
	margin: 20px 0px;
	word-wrap: break-word;
	background-color: #000000;
	padding: 12px;
	text-align: center;
}


div.header1 {
	font-size: 300%;
	font-weight: bold;
}

div.header2 {
	font-size: 200%;
	font-weight: bold;
}

div.header3 {
	font-size: 150%;
	font-weight: bold;
}

div.header4 {
	font-size: 125%;
	font-weight: bold;
}

div.header5 {
	font-size: 110%;
	font-weight: bold;
}


/* select_player.php */

div.player_select_outer {
	position: relative;
	width: 800px;
	margin: 4px auto;
	height: 420px;
}

div.player_select {
	float: left;
	width: 150px;
	height: 300px;
	border: solid 1px #00ffff;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

div.player_select_title {
	font-size: 400%;
	width: 400px;
	margin: 8px auto;
}


/* player_sidebar.php */

div.sidebar_name {
	font-size: 20pt;
	text-align: center;
}

div.sidebar_race {
	font-size: 10pt;
	text-align: center;
}

div.sidebar_turns {
	font-size: 10pt;
	text-align: center;
}


div.sidebar_level {
	position: relative;
	width: 95%;
	margin: 8px auto;
	text-align: center;
}

div.sidebar_level_item {
	display: inline-block;
	margin: 0px 3px;
	vertical-align: top;
}

div.sidebar_experience {
	position: relative;
	width: 95%;
	margin: -20px auto 8px auto;
	text-align: center;
	vertical-align: top;
	font-size: 90%;
	font-style: italic;
	color: cyan;
}



/* ship_sidebar.php */

div.sidebar_ship_name {
	font-size: 20pt;
	text-align: center;
}

div.sidebar_ship_type {
	font-size: 10pt;
	text-align: center;
}

div.sidebar_ship_turns {
	font-size: 10pt;
	text-align: center;
}

div.sidebar_ship_combat {
	border: solid 1px #ff0000;
	margin: 2px 10px;
	padding: 2px;
}

div.sidebar_ship_armor {
	text-align: center;
}

div.sidebar_ship_shields {
	text-align: center;
}

div.sidebar_ship_holds {
	text-align: center;
}

div.sidebar_ship_goods {
	position: relative;
	width: 80%;
	text-align: left;
	margin: 0px auto;
	font-size: 10pt;
}

div.sidebar_ship_good_row {
	position: relative;
	width: 99%;
	margin: 2px;
	height: 24px;
}

div.sidebar_ship_good_image {
	text-align: left;
	width: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 1px 1px 4px 1px;
}

div.sidebar_ship_good_caption {
	text-align: left;
	width: 80%;
	position: absolute;
	top: 3px;
	left: 24px;
	margin: 1px;
}

div.sidebar_ship_good_amount {
	position: absolute;
	top: 3px;
	right: 0px;
	text-align: right;
	width: 15%;
	margin: 1px;
	float:right;
}


/* port.php */

div.port_spread {
	border: solid 2px #111188;
	background-color: #000011;
}
	
div.port_text {
	color: white;
	margin: 16px 0px;

}

div.port_update_button {
	margin: 20px;
	width: 150px;
	height: 24px;
	float: right;
}

div.port_item {
	position: relative;
	width: 99%;
	margin: 1px;
	text-align:center;
}

div.port_goods {
	display:inline-block;
	width: 550px;
	height: 40px;
	border: solid 2px #999999;
	background-color: #000000;
	margin: 8px;
	padding: 3px;
}

div.port_empty {
	position: relative;
	width: 550px;
	height: 40px;
	float: left;
	border: solid 2px #000011;
	background-color: #000011;
	margin: 8px;
	padding: 3px;

}

div.port_goods_image {
	float: left;
	height: 32px;
	margin-top: 3px;
}

div.port_goods_text {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 5px;
	margin-top: 10px;
}

div.port_goods_price {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 15px;
	margin-top: 10px;
}

div.port_goods_stock {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 15px;
	margin-top: 11px;
	font-size: 80%;
}

div.port_goods_target {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 15px;
	margin-top: 4px;
	font-size: 80%;
}

div.port_buttons {
	position: relative;
	top: 0px;
	left: 0px;
	width: 140px;
	float: right;
	margin: 8px auto;
}


input.port_form_button {
	position: absolute;
	top: 0px;
	left: 60px;
}

input.port_form_input {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	color: white;
}




/* dealer.php */
div.dealer_spread {
	border: solid 2px #118811;
	background-color: #001100;
}
	
div.dealer_text {
	color: white;
	margin: 16px 0px;
}

div.dealer_shelf {
	border: solid 1px #777777;
	background-color: #111111;
	margin: 16px 0px;
	padding: 3px;
}

div.dealer_items {
	position: relative;
	width: 97%;
}

div.dealer_item {
	position: relative;
	float: left;
	width: 240px;
	border: solid 2px #999999;
	background-color: #000000;
	margin: 8px;
	padding: 3px;
}

div.dealer_item_ships {
	width: 240px;
	height: 100px;
}

div.dealer_item_goods {
	width: 530px;
	height: 40px;
}

div.dealer_buttons_ships {
	position: relative;
	margin-top: 8px;
	margin-left: 110px;
}

div.dealer_buttons_goods {
	position: relative;
	top: 0px;
	left: 0px;
	width: 140px;
	float: right;
	margin: 8px auto;
}

input.dealer_form_text {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	color: white;
}

input.dealer_form_button {
	position: absolute;
	top: 0px;
	left: 60px;
}

div.dealer_ship_icon {
	float: left;
	background: url('unknown_ship.png') no-repeat;
	background-size: 48px 48px;
	width: 48px;
	height: 48px;
}

div.dealer_ship_level {
	position: absolute;
	top: 45px;
	width: 48px;
	text-align: center;
	font-size: 90%;
	font-style: italic;
}

div.dealer_ship_stats {
	height: 64px;
	margin-left: 60px;
}

div.dealer_ship_text {
	font-size: 16px;
}

div.dealer_race_locked {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: url('race_locked.png') repeat;
	background-size: 50%;
}

div.dealer_rank_locked {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: url('rank_locked.png') repeat;
	background-size: 50%;
}

div.dealer_level_locked {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: url('level_locked.png') repeat;
	background-size: 50%;
}

div.dealer_goods_image {
	float: left;
	height: 32px;
	margin-top: 3px;
}

div.dealer_goods_text {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 5px;
	margin-top: 9px;
	font-weight: bold;
}

div.dealer_goods_price {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 15px;
	margin-top: 10px;
}

div.dealer_goods_stock {
	float: left;
	height: 16px;
	text-align: center;
	margin-left: 15px;
	margin-top: 10px;
}



/* doc_ranks.php */

table.levels {
	width: 100%;
}

tr.levels {
	margin: 4px 0px;
	background-color: #000000;
	padding: 1px;
}

td.level {
	margin: 0px 0px 0px 4px;
	background-color: #002200;
	text-align: right;
	padding: 4px;
	font-weight: bold;
	width: 30px;
}

td.experience {
	margin: 0px 0px 0px 1px;
	background-color: #222222;
	text-align:right;
	padding: 4px;
}



/* ship.php */

label.ship_form_label {
	
}

input.ship_form_input {
	background-color: black;
	color: white;
}


/* alliance.php */
/* alliance_list.php */

div.alliance_list {
	width: 95%;
	margin: 4px auto;
	text-align: left;
}

div.alliance_list_item {
	display: inline-block;
	width: 320px;
	text-align: left;
	margin: 2px;
	padding: 2px;
	border: solid 1px #777777;
}

div.alliance_list_item_gold {
	float: left;
	width: 20px;
}

div.alliance_list_item_caption {
	float: left;
	margin-bottom: 4px;
	width: 45%;
}

div.alliance_list_item_kick {
	float: right;
	width: 35%;
}

div.alliance_list_item_alliance {
	text-align: right;
	float: right;
	width: 45%;
}

img.alliance_list_recruit_image {
	float: right;
	width: 20px;
	height: 20px;
}


div.alliance_recruit {
	width: 85%;
	margin: 4px auto;
	text-align: center;
}

/* scan.php */

div.return_code {
	border: solid 1px yellow;
	background: #222200;
	margin: 4px;
	padding: 3px;
}


/* base.php */

div#base_field {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	width: 564px;
	height: 564px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border: solid 2px yellow;
	overflow: hidden;
}

div.base_grid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 560px;
	height: 560px;
	margin: 2px;
}

div.base_grid_item {
	position: absolute;
	width: 80px;
	height: 80px;
	border: solid 1px white;
	background-color: black;
}

div.base_grid_image {
	position: absolute;
	width: 80px;
	height: 80px;
	margin: 0px;
	padding: 0px;
	border: none;
	top: 0px;
	left: 0px;
}

div.base_grid_link {
	position: absolute;
	width: 80px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border: none;
	top: 0px;
	left: 0px;
	text-align: center;
}

div.base_small_grid_item {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: black;
	/*border: solid 1px black;*/
}

.base_small_grid_image {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border: none;
	top: 0px;
	left: 0px;
}

div.base_overgrid_item {
	position: absolute;
	width: 80px;
	height: 80px;
	border: solid 1px white;
	background: none;
}

img.grid_room {
	position: absolute;
	top: 1px;
	left: 1px;
}


div.over_links {
	position: absolute;
	top: 600px;
	left: 785px;
	right: 0px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	background-color: navy;
	border: dashed 4px yellow;
	text-align: center;
}

p.over_link {

}

a.over_link {

}



/* gold.php */




.gold_key {
	text-align: left;
}

table.gold_key {
	border: none;
}

tr.gold_key {
	border-style: solid 1px #888;
}

th.gold_key {
	padding: 6px 12px;
	font-size: 120%;
	font-weight: bold;
	background-color: #333;
}

td.gold_key {
	padding: 2px 8px;
	width: 400px;
	font-size: 110%;
	font-weight: bold;
	color: #2c6;
}

td.gold_time {
	padding: 2px 8px;
	font-size: 110%;
}

td.gold_actions {
	padding: 2px 8px;
	text-align: center;
}

